<!-- <!doctype html>
<html lang="en">
  <head> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- <link href="custom.css" rel="stylesheet">
    <title>Food app thing</title>
  </head>
  <body class="text-center">
      <div id="background"></div>
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Let me eat!</h3>
      <nav class="nav nav-masthead justify-content-center">
          <a class="btn btn-outline-light" href="#" role="button">Login</a>
      </nav>
    </div>
  </header> -->

  <%- include("header"); %>

  <div id="background"></div>
  <div class="container homepage">
  <main role="main" class="inner cover homepage">
    <h1>Food you can actually eat</h1>
    <p class="lead">Because no one likes being hungry</p>
    <p class="lead">
        <a class="btn btn-primary" href="/login" role="button">Login</a>
    </p>
    <p>Don't have an account yet? <a href="#" class="emphasis">Sign up</a></p>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>